{% extends 'chapter7/inheritance.html.twig' %}

{% block sidebar %}

<div id="embed">
	{{ render_hinclude(
		  url('template'),
		  { 'default': 'chapter7/wait.html.twig'}
	   )
	}}
</div>

<script src="hinclude.js"></script>

{% endblock %}
