<html>
	<head>
		{% block stylesheets %}
			<link href="{{ asset('css/main.css') }}" rel="stylesheet" />
		{% endblock %}
	</head>
	<body>
		{% block javascripts %}
			<script src="{{ asset('js/hello.js') }}"></script>
		{% endblock %}
	</body>
</html>
